* {
    box-sizing: border-box;
}

:root {
    --heading-font: "sen", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 11px 16px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;

    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 700;
    font-family: var(--heading-font);
    letter-spacing: -0.02em;
    color: #171100;
}

.desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    padding-top: 36px;
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .navbar {
    margin-left: auto;
}

.header .navbar ul {
    display: flex;
    margin-right: 49px;
}

.header .navbar a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.header .navbar li.active a,
.header .navbar a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .navbar li.active a::after {
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

/* hero */
.hero {
    padding: 64px 0 65px;
    background: #fffcf4;
}

.hero .hero-block {
    display: flex;
    align-items: center;
    gap: 230px;
}

.hero .media-block {
    position: relative;
}

.hero .media-block .main-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .media-block .hero-summary {
    position: absolute;
    left: 300px;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .hero-summary .summary-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero .hero-summary .summary-item:not(:first-child) {
    margin-top: 14px;
}

.hero .summary-item .media-logo {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff9e8;
    border-radius: 50%;
}

.hero .summary-item:nth-of-type(2) .media-logo {
    background: #fcefff;
}

.hero .summary-item:nth-child(3) .media-logo {
    background: #ebeaff;
}

.hero .media-content .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero .media-content .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.heading.lv1 {
    margin-bottom: 22px;
    font-size: 5.8rem;
    line-height: 1.17;
}

.desc.hero-desc {
    margin-top: 8px;
}

.hero .content-block .cta {
    margin: 38px 0 48px;
    display: flex;
}

.hero .cta .count-btn {
    display: inline-block;
    min-width: 180px;
    padding: 17px 16px;
    margin-right: 22px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    background: #ffb900;
    border-radius: 32px;
}

.hero .watch-video {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .play {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    font-family: "poppins", sans-serif;
}

.hero .desc strong {
    margin-left: 24px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    font-family: var(--heading-font);
}

.hero .desc.desc-stats {
    margin-left: -24px;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin: 135px 0;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.popular .desc.popular-desc {
    margin-top: 16px;
    width: 458px;
}

.popular .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.popular .controls .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    background-color: #fff;
    color: #ffb900;
}

.popular .controls .control-btn:hover {
    color: #fff;
    background-color: #ffb900;
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    padding-right: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular .course-item .point {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .desc.course-desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular .course-item .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .book-btn {
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #ffffff;
}

.popular .book-btn:hover {
    background: #ffb900;
    cursor: pointer;
}

/* feedback */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback .main-content {
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    transition: all ease 0.3s;
    transform: translateX(-100%);
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .info .title {
    margin-top: 18px;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .info .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback .quotes-block {
    width: 66%;
}

.feedback .quotes-block .quote {
    padding-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
